.text {
  display: flex;
  flex-direction: row;
  background-color: #0b0c10;
  height: 100vh;
  width: 500px;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  font-size: large;
  font-weight: bold;
  color: white;
}

.list div {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  font-family: cursive;
  font-size: 30px;
}

.list div:hover {
  text-decoration: underline;
}

.fa-icon {
  padding-top: 4px;
  padding-right: 5px;
}
